---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Header from "../components/Header.astro";
import Container from "../components/Container.astro";
import AuthorDetail from "../components/AuthorDetail.astro";

const authors = [
  {
    name: "Juan Sebatian Ortiz",
    role: "Análisis de Datos",
    avatar: "https://randomuser.me/api/portraits/women/8.jpg",
  },
  {
    name: "Leandra Aguilar",
    role: "Análisis de Datos",
    avatar: "https://randomuser.me/api/portraits/women/8.jpg",
  },
  {
    name: "Santiago",
    role: "Análisis de Datos",
    avatar: "https://randomuser.me/api/portraits/women/8.jpg",
  },
  {
    name: "Gregson Murcia",
    role: "Desarrollador",
    avatar: "https://randomuser.me/api/portraits/women/8.jpg",
  },
];
---

<Layout title="Autores">
  <main>
    <Container>
      {
        authors.map((author) => (
          <AuthorDetail
            name={author.name}
            role={author.role}
            avatar={author.avatar}
          />
        ))
      }
    </Container>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
</style>
