---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main class="z-2">
    <section class="pt-36">
      <h1 class="text-white">Welcome to <span>Explore</span></h1>
      <h1 class="text-white">Welcome to <span>Explore</span></h1>
      <h1 class="text-white">Welcome to <span>Explore</span></h1>
      <h1 class="text-white">Welcome to <span>Explore</span></h1>
    </section>
  </main>
</Layout>
