---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Explora" currentPage="explore">
  <main>
    <iframe
      title="info"
      width="100%"
      height="373.5"
      src="https://app.powerbi.com/view?r=eyJrIjoiN2E5MzBmM2YtNjljNC00NTE4LTljNTMtYjJiMGViNTNiNTg5IiwidCI6IjEzZDVlMjVjLTQ5NTEtNDFhMi05NzQyLWMxYzA3ZDY2OTVhMyIsImMiOjR9"
      frameborder="0"
      allowFullScreen="true"></iframe>

    <section class="relative inset-x-0 bottom-36">
      <iframe
        title="Tablero_Data (3)"
        width="100%"
        height="1300"
        src="https://app.powerbi.com/view?r=eyJrIjoiZjE3ODgwZjQtNGVkNS00NTBlLWJjN2ItYWVmYmU0OGQ0NDc3IiwidCI6IjEzZDVlMjVjLTQ5NTEtNDFhMi05NzQyLWMxYzA3ZDY2OTVhMyIsImMiOjR9"
        frameborder="0"
        allowFullScreen="true"></iframe>
    </section>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 95vw;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }

  iframe {
    height: 1300px;
  }

  @media (max-width: 600px) {
    iframe {
      height: 350px;
    }
  }
</style>
