---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Reino Plantae" currentPage="plantae">
  <main>
    <section class="my-4">
      <iframe
        title="ReinoPlantae"
        width="100%"
        height="1800"
        src="https://app.powerbi.com/view?r=eyJrIjoiZDhiODAyMmQtMDRmZS00NjcxLTk5NDktZTcyMTYwNTQyYmMxIiwidCI6IjEzZDVlMjVjLTQ5NTEtNDFhMi05NzQyLWMxYzA3ZDY2OTVhMyIsImMiOjR9"
        frameborder="0"
        allowFullScreen="true"></iframe>
    </section>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    width: 95vw;
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }

  iframe {
    height: 600px;
  }

  @media (max-width: 600px) {
    iframe {
      height: 350px;
    }
  }
</style>
