---
import CardInsight from "../components/CardInsight.astro";
import SemanticSearch from "../components/SemanticSearch";
import Layout from "../layouts/Layout.astro";

const insightValues = [
  {
    title: "Datos",
    description:
      "Explora 64 especies de animales que se encuentran en Colombia.",
    icon: "mdi:database-search",
  },
  {
    title: "Filtros",
    description: `Filtra por característica específica de una especie, como color, tamaño, forma, etc.`,
    icon: "mdi:filter",
  },
  {
    title: "Multi idioma",
    description: `Busca la especie en cualquier idioma.`,
    icon: "mdi:language",
  },
];
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Buscador Semántico</title>
  </head>
  <body>
    <Layout title="Buscador Semántico" currentPage="search">
      <section class="mt-6">
        <section
          class="flex flex-row flex-wrap lg:flex-row w-full md:w-4/5 justify-around mx-auto
      items-center"
        >
          {
            insightValues.map((value) => (
              <CardInsight
                title={value.title}
                description={value.description}
                icon={value.icon}
              />
            ))
          }
        </section>
      </section>
      <!-- create line separator -->

      <hr class="my-8 border-t-2 w-5/6 border-sand m-auto" />

      <main class="mx-auto md:p-4">
        <SemanticSearch selectApi={1} client:load />
      </main>
    </Layout>
  </body>
</html>
