---
const { title, description } = Astro.props;
---

<section class="flex flex-col w-44 items-center">
  <img
    class="rounded w-36 h-36"
    src="https://randomuser.me/api/portraits/women/8.jpg"
    alt={title}
  />
  <h2 class="font-bold">{title}</h2>
  <a class="text-center text-sm">{description}</a>
</section>
