body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="number-slide"],
[class*=" number-slide"] {
  background: white;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  color: #000;
  font-weight: 500;
  /* height: 300px; */
  /* max-height: 100vh; */
}

.navigation-wrapper {
  position: relative;
  margin-top: 20px;
}

.dots {
  display: flex;
  padding: 10px 0;
  justify-content: center;
}

.dot {
  border: none;
  width: 10px;
  height: 10px;
  background: gray;
  border-radius: 50%;
  margin: 0 5px;
  padding: 5px;
  cursor: pointer;
}

.dot:focus {
  outline: none;
}

.dot.active {
  background: #000;
}

.arrow {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  fill: #006b41;
  cursor: pointer;
}

.arrow--left {
  left: -65px;
}

.arrow--right {
  left: auto;
  right: -65px;
}

.arrow--disabled {
  fill: rgba(73, 73, 73, 0.505);
}

#container-description {
  max-height: 220px;
  overflow-y: auto;
}
