---
import Header from "../components/Header.astro";
import { ViewTransitions } from "astro:transitions";
import Footer from "../components/Footer.astro";
import Sidebar from "../components/Sidebar.astro";

interface Props {
  title: string;
  currentPage?: string;
}
const { title, currentPage = "index" } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
    <script src="/scripts/globalAudio.js" is:inline></script>
  </head>
  <body>
    <div class="flex">
      <Sidebar />
      <div class="flex-1">
        <Header currentPage={currentPage} />
        <main>
          <slot />
        </main>
        <Footer />
      </div>
    </div>

    <style is:global>
      :root {
        --accent: 136, 58, 234;
        --accent-light: 224, 204, 250;
        --accent-dark: 49, 10, 101;
        --accent-gradient: linear-gradient(
          45deg,
          rgb(var(--accent)),
          rgb(var(--accent-light)) 30%,
          white 60%
        );
      }
      html {
        margin: 0;
        font-family: "", sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        /* background: #2da474; */
        /* background: #13151a; */
        background-size: 224px;
        color: #333;
      }
      code {
        font-family:
          Menlo,
          Monaco,
          Lucida Console,
          Liberation Mono,
          DejaVu Sans Mono,
          Bitstream Vera Sans Mono,
          Courier New,
          monospace;
      }
    </style>
    <script
      src="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.js"
    ></script>
  </body>
</html>
